@model Pro1.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="EstimatePrice" />
            <input type="hidden" asp-for="TimeSlots" />
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration" class="control-label"></label>
                <input asp-for="Registration" class="form-control" />
                <span asp-validation-for="Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimateDescription" class="control-label"></label>
                <input asp-for="EstimateDescription" class="form-control" />
                <span asp-validation-for="EstimateDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAccepted">Is Accepted?</label>
                uyt<div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="IsAccepted" />

                </div>
            </div>
            <div class="form-group">
                <label asp-for="PricePaid"></label>
                <input asp-for="PricePaid" type="number" step="0.01" class="form-control" /> <!-- Decimal input for PricePaid -->
            </div>
            <label asp-for="State" class="control-label">Ticket Status</label>
            <select asp-for="State" class="form-control">
                <option value="done">done</option>
                <option value="closed">closed</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyTickets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
